body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #41474f;
}

.body-container {
    min-height: 100vh;
    width: 800px;
    background-color: #F5F5F5;
}

.submit,
.add-user-button,
.annuleren-button,
.inside-container,
.inside-container:hover {
    border: 2px solid #41474f;
    border-radius: 0.5rem;
}

.add-user-button,
.submit,
.annuleren-button {
    background-color: #545F71;
    color: white;
    font-size: large;
    cursor: pointer;
    margin: 5px;
    width: 15%;
    height: 40px;
}

.add-user-button:hover,
.add-or-old-user-button:hover,
.new-or-old-user:hover,
.submit:hover,
.annuleren-button:hover {
    background-color: #545f716a;
}

body,
label,
.data-form,
.submit,
.info-page,
.header,
.add-user-button,
.add-or-old-user-button,
.new-or-old-user,
.new-or-old-user-text,
.annuleren-button,
.view-text,
.inside-container,
.change-button,
.delete-button,
.read-button,
.inside-container:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

input[type=text],
input[type=number],
select,
textarea {
    border: 1px solid #41474f;
    border-radius: 0.5rem;
    width: 100%;
    height: 38px;
}

.header {
    display: flex;
    justify-content: end;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: solid #41474f;
}

.container {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 90%;
    height: 40px;
}

.change-button,
.delete-button,
.read-button {
    cursor: pointer;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    background: none;
}

.info-page {
    font-size: x-large;
}

.inside-container:hover {
    border: 2px solid rgb(165, 165, 165);
}

.delete-button:hover {
    color: red;
}

.change-button:hover {
    color: #5294ff;
}

.read-button:hover {
    color: #45ef3f;
}

.view-text {
    margin-left: 5px;
}

.data-form {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.left-column,
.right-column {
    width: 250px;
}

.mid-column {
    width: 200px;
}

.form-button {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.annuleren-button {
    display: none;
}

